* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'kongtext', sans-serif;
}

/*Importing 8-Bit Font*/
@font-face {
    font-family: kongtext;
    src: url('../../assets/fonts/kongtext.ttf');
}

/*
Default Color Palletes

- Black
- HEX Code: #222831
- RGB(34,40,49)

- Dark Gray
- HEX Code: #393E46
- RGB(57,62,70)

- Teal
- HEX Code: #00ADB5
- RGB(0,173,181)

- Light Gray
- HEX Code: #EEEEEE
- RGB(238,238,238)

*/

:root {
    background: rgb(34,40,49);

    --cp-black: rgb(34,40,49);
    --cp-dark-gray: rgb(57,62,70);
    --cp-teal: rgb(0,173,181);
    --cp-light-gray: rgb(238,238,238);

    /*Colors*/
    --clr-red: rgb(218, 39, 39);
    --clr-orange: rgb(245, 145, 30);
    --clr-yellow: rgb(255, 251, 26);
    --clr-green: rgb(37, 245, 30);
    --clr-blue: rgb(12, 97, 255);
    --clr-light-blue: rgb(151, 188, 255);
    --clr-purple: rgb(168, 2, 154);
    --clr-pink: rgb(255, 192, 203);
    --clr-light: rgb(235, 235, 235);
    --clr-dark: rgb(27, 27, 27);
    --clr-gray: rgb(201, 201, 201);

    /* Background Colors*/
    --bg-red: rgb(218, 39, 39);
    --bg-orange: rgb(245, 145, 30);
    --bg-yellow: rgb(255, 251, 26);
    --bg-green: rgb(37, 245, 30);
    --bg-blue: rgb(12, 97, 255);
    --bg-purple: rgb(168, 2, 154);
    --bg-pink: rgb(255, 192, 203);
    --bg-light: rgb(235, 235, 235);
    --bg-dark: rgb(27, 27, 27);

    /*Anything Related to Scroll Bar*/
    /*Scroll Color*/
    --scroll-color: rgb(49, 49, 49);

    /*Body Scroll Bars*/
    body::-webkit-scrollbar {
        width: 10px;               /* width of the entire scrollbar */
    }
        
    body::-webkit-scrollbar-track {
    background: var(--clr-dark) /* color of the tracking area */
    }

    body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    }

    .scroll::-webkit-scrollbar {
        width: 10px;               /* width of the entire scrollbar */
    }

    .scroll::-webkit-scrollbar-track {
        background: var(--cp-dark-gray) /* color of the tracking area */
    }
    
    .scroll::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }

}

/*List*/
.navbar-li {
    letter-spacing: 1px;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.1s ease-in-out;
    text-shadow: 0px 3px 2px rgba(0,0,0.9);
}

.navbar-li:hover {
    color: var(--cp-teal);
}

/*Cursor*/
.cursor-pointer {
    cursor: pointer;
}

/*Typography*/
.text-light {
    color: var(--clr-light)
}

.text-pink {
    color: var(--clr-pink)
}

.text-cp-black {
    color: var(--cp-black);
}
.text-cp-light-gray {
    color: var(--cp-light-gray);
}
.text-cp-teal {
    color: var(--cp-teal);
}
.text-cp-light-gray {
    color: var(--cp-light-gray);
}

.text-green {
    color: var(--clr-green)
}

.text-red {
    color: var(--clr-red)
}

.text-light-blue {
    color: var(--clr-light-blue)
}

.text-yellow {
    color: var(--clr-yellow)
}


/*Diplays*/
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

/*Navigation Bar*/
.navbar {
    width: 100%;
    height: 55px;
    background-color: var(--cp-dark-gray);
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #1a1a1a;
    z-index: 998;
    position: fixed;
    display: block;
    padding: 1rem;
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0.85;
}

.navbar-menu {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: end;
    align-items: center;

}

.navbar-content {
    height: 100%;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
    display: flex;
}

.menu { 
    transition: 0.3s ease-in-out;
}

.menu:hover {
    color: var(--cp-teal);
}

/*Navigation Overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
    z-index: 997;
}

/*Pre Loader Styles*/
.preloader {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
    position: fixed;
    padding: 3rem;
}

.preloader-content {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 160px;
}

.preloader-per-section {
    display: flex;
    justify-content: center;
}

.preloader-image{
    height: 200px;
    width: 200px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    animation-name: preloader-img-animation;
    animation-duration: 1s;
}

.preloader-text {
    font-size: 30px;
    text-shadow: 0px 3px 2px rgba(0,0,0.9);
    letter-spacing: 2px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: preloader-text-animation;
    animation-duration: 1s;
}

/*Animations*/
@keyframes preloader-text-animation {
    from {margin-top: 50px; opacity: 0}
    to {margin-top: 10px; opacity: 1}
}
@keyframes preloader-img-animation {
    from {opacity: 0}
    to {opacity: 1}
}

/*Main Body*/
.main-body {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-image: url('../../assets/images/background/night.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Card*/
.card {
    width: 100%;
    height: 100%;
    border: 5px solid var(--cp-teal);
    border-radius: 5px;
    background-color: var(--cp-dark-gray);
    box-shadow: 2px 10px 10px var(--clr-dark);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow-x: hidden;
    justify-content: center;
}

.scroll {
    overflow-y: scroll;
}

.card.active {
    display: block;
    opacity: 0.85;
}

.card-content {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.card-divider {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    background-color: var(--cp-black);
}

.card-category {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-category-content {
    background-color: var(--cp-teal);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--cp-black);
    border-width: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 2px 3px var(--cp-dark-gray);
}

.card-li {
    list-style-type: square;
    margin-left: 20px;
}

/*Navigation Bar Active*/
.nav-active[data-tab-target] {
    color: var(--clr-pink);
}

/*Card Typography*/
.card-header {
    font-size: 23px;
    text-shadow: 0px 5px 2px rgba(0,0,0.9);
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.card-paragraph {
    font-size: 16px;
    text-shadow: 0px 3px 2px rgba(0,0,0.9);
    letter-spacing: 2px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Card Section: Profile*/
.card-profile-pic-and-name {
    display: flex;
    width: auto;
    height: auto;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.card-profile-pic {
    display: block;
    margin-right: 15px;
}

.card-profile-pic-image {
    height: 150px;
    width: 150px;
}

.card-profile-name {
    display: block;
    margin-right: 50px;
}

.card-profile-attributes {
    display: block;
    margin-right: 15px;
}

.card-profile-attributes-list {
    display: flex;
    justify-content: start;
    width: 100%;
}

.card-profile-attributes-box {
    display: flex;
    width: 80px;
    border: solid 6px var(--bg-dark);
    height: 80px;
    border-radius: 5px;
    background-color: var(--cp-dark-gray);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.card-profile-attributes-box:hover {
    background-color: var(--clr-pink);
    padding: 4px;
}

.card-profile-xp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-shadow: 0px 2px 3px rgba(0,0,0.9);
    border: 5px solid var(--bg-dark);
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        var(--bg-green) 0%,
        var(--bg-green) 47%,
        transparent 48%,
        transparent 100%
    );
}

.card-profile-motto {
    display: block;
}

.card-profile-motto-section {
    display: flex;
    justify-content: center;
}

.card-profile-motto-author {
    display: flex;
    justify-content: end;
}

.card-profile-likes-vs-dislikes {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    margin-bottom: 50px;
}

.card-profile-like-section {
    width: 50%;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    height: 260px;
}

.card-profile-like-ul {
    width: 100%;
    height: 100%;
}

.card-profile-hobbies {
    width: 100%;
    max-height: 230px;
    display: block;
}

.card-ul-grid {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
}

/*Card Section: Tools*/
.card-tools-item-list {
    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 20px;
    margin-top: 15px;
}

.card-tools-item-box {
    width: 250px;
    height: 250px;
    border: 2px solid var(--cp-black);
    border-radius: 5px;
    border-width: 5px;
    background-color: var(--scroll-color);
    display: block;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 5px 5px #1a1a1a;
}

.card-tools-item-box:hover {
    transform: translateY(-5px);
}

.card-tools-item-box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 5px;
}

.card-tools-item-box-img {
    height: 100%;
}

/*Card Section: IGN*/
.card-ign-section {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 1rem;
}

.card-ign-item {
    width: 100%;
    border: 5px solid var(--cp-black);
    background-color: var(--scroll-color);
    border-width: 5px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    padding: 0.5rem;
    min-height: 100px;
    box-shadow: 0px 5px 5px #1a1a1a;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card-ign-item:hover {
    transform: translateY(-3px);
}

.card-ign-item-pic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.card-ign-item-pic {
    height: 100px;
    width: 100px;
}

.card-ign-item-info-section {
    display: block;
    justify-content: start;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
}

/*Card Section: Game Ratings*/
.card-game-ratings-section {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 1rem;
}

.card-game-ratings-item {
    width: 100%;
    border: 5px solid var(--cp-black);
    background-color: var(--scroll-color);
    border-width: 5px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    padding: 0.5rem;
    min-height: 100px;
    box-shadow: 0px 5px 5px #1a1a1a;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card-game-ratings-item:hover {
    transform: translateY(-3px);
}

.card-game-ratings-item-pic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.card-game-ratings-item-pic {
    height: 100px;
    width: 100px;
}

.card-game-ratings-item-info-section {
    display: block;
    justify-content: start;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
}

/*Responsive Sections*/
/*Tablet/Ipad Responsive*/
@media screen and (max-width: 768px) {
    .navbar-content {
        display: block;
        margin-top: 20px;
        justify-items: start;
    }

    .navbar-content>li {
        margin: 30px;
    }

    .navbar-menu {
        display: flex;
        height: 30px;
    }

    /*Card Section: Profile*/
    .card-profile-pic-and-name {
        display: block;
    }

    .card-profile-pic {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    
    .card-profile-name {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .card-profile-attributes-list {
        justify-content: center;
    }
    
    .card-profile-attributes {
        margin-right: 0px;
    }

    .card-profile-likes-vs-dislikes {
        width: 100%;
        display: block;
    }

    .card-profile-like-section {
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }

    .card-ul-grid {
        display: block;
    }

    /*Card Section: Tools*/
    .card-tools-item-list {
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .card-tools-item-box {
        width: 170px;
        height: 170px;
    }

    /*Card Section: IGN*/
    .card-ign-section {
        grid-template-columns: repeat(1, 1fr);
    }

    /*Card Section: Game Ratings*/
    .card-game-ratings-section {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Custom Responsive 1*/
@media screen and (max-width: 880px) {
    /*Card Section: Tools*/
    .card-tools-item-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Mobile Responsive*/
@media screen and (max-width: 480px) {
    /*Card Section: Profile*/
    .card-profile-pic-and-name {
        display: block;
    }

    .card-profile-pic {
        display: flex;
        justify-content: center;
    }

    .card-profile-pic {
        justify-content: center;
    }

    .card-profile-pic-image {
        height: 160px;
        width: 160px;
    }

    .card-profile-xp {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        text-shadow: 0px 2px 3px rgba(0,0,0.9);
        border: 5px solid var(--bg-dark);
        font-size: 12px;

    }

    .card-profile-attributes-box {
        width: 60px;
        border: solid 5px var(--bg-dark);
        height: 60px;
        border-radius: 3px;
        background-color: var(--cp-dark-gray);
        margin-left: 5px;
        margin-right: 5px;
    }

    /*Card Typography*/
    .card-header {
        font-size: 17px;
    }

    .card-paragraph {
        font-size: 12px;
        line-height: 22px;
    }

    /*Card Section: Tools*/
    .card-tools-item-list {
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .card-tools-item-box {
        width: 100%;
        height: 150px;
    }

    /*Card Section: IGN*/
    .card-ign-item {
        display: block;
    }

    .card-ign-item-pic-section {
        width: 100%;
    }

    .card-ign-item-info-section {
        margin-left: 0;
    }
    
    /*Card Section: Game Ratings*/
    .card-game-ratings-item {
        display: block;
    }
    
    .card-game-ratings-item-pic-section {
        width: 100%;
    }

    .card-game-ratings-item-info-section {
        margin-left: 0;
    }
}